{#
/**
 * Upcoming Bookings
 * 
 * Shows all upcoming bookings for the user.
 */
#}

{% extends "booked/frontend/account/_layout" %}

{% set currentPage = 'upcoming' %}

{% block pageTitle %}{{ 'account.upcomingBookings'|t('booked') }}{% endblock %}

{% block accountContent %}
    <div class="booked-section section-plain">
        {% if bookings|length %}
            {% for booking in bookings %}
                {% include 'booked/frontend/account/_booking-card' with { booking: booking } %}
            {% endfor %}
        {% else %}
            {% include 'booked/frontend/account/_empty-state' with { message: 'account.noUpcomingBookings'|t('booked') } %}
        {% endif %}
    </div>
{% endblock %}
