{% extends "_layouts/elementindex" %}
{% set elementType = 'anvildev\\booked\\elements\\Service' %}
{% set title = 'labels.services'|t('booked') %}
{% set selectedSubnavItem = 'services' %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('booked/services/new') }}">{{ 'service.new'|t('booked') }}</a>
{% endblock %}

